.shop{
    display: grid;
    grid-template-columns:4fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 45px;
    margin-top: 120px;
    row-gap: 40px;
    margin-left: 60px;
    margin-right: 60px;
}