.review-container{
    margin: 60px auto;
}
.proceed-btn{
    width:95%;
    height: 45px;
    margin-top: 16px;
    background: #FF9900;
    border-radius: 4px;
    padding: 15px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: none;
}
.proceed-link{
    text-decoration: none;
}